<div>   
    <h1>Contact</h1>

    <p>Tel: 07 68 38 65 59</p><br>
    <p>Courriel: lesamisdeferdinand@free.fr</p><br>
    <p>Courrier: Association "les amis de Ferdinand"<br>10 rue de Mainville, 91230, Montgeron</p><br>
    <p>Facebook: "Les amis de Ferdinand - Théâtre"</p><br>
</div>

