<div>
    <h1>Histoire</h1>
    <h4>Association "les amis de Ferdinand"</h4><br>
    <p>L’Association Les amis de Ferdinand, fondée en 1982 à l’initiative de parents du groupe scolaire Ferdinand Buisson, avait  pour but d’ouvrir l’école sur le quartier. Elle visait également à établir des liens plus étroits entre les familles et s’appelait au tout début « les amis de l’école Ferdinand Buisson ».</p><br><br>
    <p>Aux cours de ses 20 ans d’existence l’association a proposé une vingtaine d’activités différentes dont la Danse, le Cirque, le dessin, le chant …. Et le théâtre.</p><br><br>
    <p>Dans les années 2000,la demande d’enfants d’autres écoles et de Montgeron   a amené le bureau de l’association a changé les statuts et à accueillir toutes les demandes sans distinction pour cela l’association a changé de nom et est devenue « les amis de Ferdinand «  pour garder un lien avec ses origines.</p><br><br>
    <p>En cette année 2022 ,l’association fête ses 40 ans  et est très heureuse d’avoir vu passer dans ses adhérents 6000 familles de Montgeron.</p><br><br>
    <p>Association "loi 1901 n°82.174 du 07/09/1982".</p>
</div>