<div>
    <h1>Inscription</h1>
    <p>La cotisation demandée à chaque inscription est une cotisation familiale sert à couvrir les frais généraux tels que l’assurance des participants, les frais bancaires, les fournitures de bureau ,le site et le bon fonctionnement des activités.<br>
    Le coût de chaque activité sert à rémunérer les intervenants qui sont des professionnels dans leur spécialité.</p>
    <p>Nous mettons à votre disposition le bulletin d'inscription que vous trouverez plus bas.<br><br>Le règlement sera à donner à l'intervenant lors du premier cours.</p>
</div>