<div>
    <div>
        <h1>Partenaires</h1>
        <p>Vous trouverez ici les organismes qui nous aide ou ont aidés au cour de notre vie associative.</p>
    </div>
    <div>
        <h3>L'association France-Québec Essonne</h3>
        <p>Cette association organise beaucoup de choses en rapport avec el Québec<br><br>
        <ul>
            <li>L'organisation du prix littéraire qui récompense un auteur québecois pour l'écriture d'u roman contemporain. Le concours se déroule d'avril à octobre.</li>
            <li>Des dictées francophones au mois de mars</li>
            <li>La projection de films québecois au cinéma municipal le Cyrano</li>
        </ul>
        <p>Si vous souhaitez plus d'informations n'hésitez pas à vous rendre sur leur site en cliquant <a href="https://francequebec.fr/">ici</a> ou en envoyant un courriel à l'adresse suivante essonne-quebec@orange.fr</p><br><br>
    </div>
    <div>
        <h3>La caisse du crédit mutuel de Montgeron-Sénart</h3>
        <p>Nous avons signé une convention associative, qui offre aux adhérents de l'association des avantages sur les services proposés.<br>N'hésitez pas à leur rendre visite pour en savoir plus, vous serez très bien reçu.</p>
    </div>
</div>